body {
	overflow-x: hidden;
	background-color: var(--body-background);
}

.site-header,
.site-footer {
	background-color: #ffdb44;
	padding-block: var(--content-padding);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	margin-bottom: 54px;
}
