.standartWidth {
	width: 12vw;
}

.centered {
	margin: 0 auto;
	display: block;
}

.login-logout-button {
	display: flex;
	gap: 16px;
}

.centerChild > button {
	margin: 0 auto;
	display: block;
}

.ranking a:hover {
	color: var(--button-background-color);
	background-color: white;
}

.scoreList {
	background-color: var(--button-background-color);
	border-color: var(--button-background-color);

	&:hover {
		color: var(--button-background-color);
		background-color: white;
		z-index: -10;
	}
	a {
		text-decoration: none;
		color: white;
		&:hover {
			color: var(--button-background-color);
		}
	}
}

.usernameSign {
	color: var(--button-background-color);
	border: 1px solid;
	border-color: var(--button-border-color);
	border-radius: var(--border-radius-s);
	background-color: var(--button-color);
	padding: 0.6em 1em 0.4em;
	font-weight: bold;
	box-shadow: var(--shadow-4);
}
